.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--gap);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: transparent;
  font-family: sans-serif;
}

.modal__inner {
  background: transparent;
  /* max-width: 100%; */
  /* max-width: 800px; */
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.modal__top {
  display: flex;
  align-items: center;
  /* background-color: #353535; */
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 9px;
  z-index: 1500;
  opacity: 0;
}
.modal__top:hover {
  opacity: 1;
}
.modal__content {
  display: flex;
}

.modal__bottom {
  text-align: right;
}

.modal__button:hover {
  background: #008066;
}

.modal__back {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  left: 0;
  color: transparent;
  width: 50%;
  height: 100%;
  z-index: 1100;
}
.modal__back:hover {
  color: #eeeeee;
}
.modal__forward {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  /* top: 45%; */
  right: 0;
  color: transparent;
  width: 50%;
  height: 100%;
}
.modal__forward:hover {
  color: #eeeeee;
}

.modal__close {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
  color: #eeeeee;
  padding-left: 10px;
}
.modal__content div.photo {
  line-height: 0;
}
.modal__content {
  position: relative;
}
/* .modal__content div.photo img.foto {
  width: 100%;
  max-width: 1000px;
  max-height: 780px;
  object-fit: contain;
} */
.hide_arrows {
  opacity: 0;
}

@media only screen and (max-width: 920px) {
  .modal__content div.photo {
    width: 100%;
    max-width: 90vw;
    /* max-height: 1092px; */
    object-fit: contain;
  }
  .modal__content div.photo img.foto {
    width: 100%;
    max-width: 90vw;
    /* max-height: 1092px; */
    object-fit: contain;
  }
}

@media only screen and (max-width: 1200px) {
  .modal__forward {
    color: #eeeeee;
    opacity: 0.5;
  }
  .modal__back {
    color: #eeeeee;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1920px) {
  .modal__content div.photo img.foto {
    width: 100%;
    max-width: 1000px;
    max-height: 780px;
    object-fit: contain;
    /* aspect-ratio: auto; */
  }
}

@media only screen and (min-width: 2560px) {
  .modal__content div.photo img.foto {
    width: 100%;
    max-width: 1400px;
    max-height: 1092px;
    object-fit: contain;
  }
}

@media only screen and (min-width: 3840px) {
  .modal__content div.photo img.foto {
    width: 100%;
    max-width: 2000px;
    max-height: 1560px;
    object-fit: contain;
  }
}
